:root {
    // Layout dimensions
    --navbar-height: 60px;
    --menu-width: 280px;

    // Colors
    --gradient-1: #20D6DE;
    --gradient-2: #7190D8;
    --gradient-3: #C24AD2;
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-ground: var(--p-surface-950);
    --surface-card: var(--p-content-background);
}
